.header {
  height: 7vh;
  width: auto;
  display: flex;
  align-items: center;
  padding: 0 20px 0 20px;
  justify-content: space-between;
  border-bottom: 1px solid rgb(0, 0, 0, 0.1);
}

.selected_text {
  font-size: 14px;
  color: rgb(0, 0, 0);
  font-weight: 600;
}

.delete_text {
  font-size: 14px;
  color: rgb(236, 58, 34);
  font-weight: 600;
}

.delete_text:hover {
  cursor: pointer;
  text-decoration: underline;
}

.dragged_image {
  position: fixed;
  height: 100%;
  width: 100%;
}
