#root {
  max-width: 1280px;
  margin: 0;
  padding: 0;
  text-align: center;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app {
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  --no-columns: 5;
  --container-shadow: rgb(0, 0, 0, 0.1);
  --shadow: rgb(0, 0, 0, 0.4);
  --border-color: rgb(187, 184, 184);
  --border-radius: 7px;
  --add-image-container-color: #fff3f3;
  --checkbox-selected: rgb(73, 84, 238);
}

.gallery_c {
  width: 90vw;
  height: 90vh;
  border-radius: var(--border-radius);
  background-color: #fff;
  z-index: 999;
  box-shadow: 0 10px 10px 0 var(--container-shadow);
}

.gallery {
  display: grid;
  height: 83vh;
  grid-template-columns: repeat(var(--no-columns), 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 17px;
  padding: 20px 30px 20px 30px;
  background-color: white;
  overflow: hidden;
  border-radius: var(--border-radius);
}

.image2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: var(--border-radius);
  border-color: var(--border-color);
  overflow: hidden;
  position: relative;
  border: 1px solid var(--border-color);
  transition: transform 1s;
}

.image1 {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: span 2;
  grid-row: span 2;
  background-color: white;
  position: relative;
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);
  overflow: hidden;
}

.image1 .cover {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--shadow);
  opacity: 0;
  transition: opacity 500ms ease;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1rem;
  overflow: hidden;
}

.image2 .cover {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: var(--shadow);
  position: absolute;
  opacity: 0;
  transition: opacity 500ms ease;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1rem;
}

.image1:hover {
  opacity: 1;
  transition: opacity 500ms ease;
}

.image2:hover {
  opacity: 1;
  transition: opacity 500ms ease;
}

.img {
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: var(--border-radius);
  object-fit: fill;
}

.checkbox_wrapper {
  height: 1rem;
  width: 1rem;
  border-radius: 0.2rem;
  position: absolute;
  background-color: white;
  justify-content: center;
  align-items: center;
}

input[type='checkbox'] {
  appearance: none;
  -webkit-appearance: none;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 0.2rem;
  background-color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
input[type='checkbox']::after {
  content: '\f00c';
  font-family: 'Font Awesome 5 Free';
  font-weight: 700;
  font-size: 0.8rem;
  margin-top: 1px;
  color: white;
  display: none;
}

input[type='checkbox']:hover {
  background-color: #d3c8c8;
}

input[type='checkbox']:checked {
  background-color: var(--checkbox-selected);
}

input[type='checkbox']:checked::after {
  display: block;
}

.image1 .selected {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  opacity: 1;
  transition: opacity 500ms ease;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1rem;
  overflow: hidden;
}

.image2 .selected {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  opacity: 1;
  transition: opacity 500ms ease;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1rem;
  border-radius: 7px;
}

.add_image_c {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--add-image-container-color);
  border-radius: var(--border-radius);
  border: 1px dashed rgba(0, 0, 0, 0.4);

  flex-direction: column;
  gap: 1rem;
}

.add_image_text {
  color: black;
}

.checkbox_c {
  display: flex;
  gap: 5px;
  align-items: center;
}
